.container {
    padding: 9.5vh 66px 30px 50px;
    flex-grow: 1;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 15px;
        flex-grow: 1;
        text-align: center;
    }
}